<div class="animated fadeIn">
	<div class="row">
		<div class="col">
			<div class="card card-accent-info">
				<div class="card-header">
					{{boardForm.value.name || 'New Board'}}
				</div>
				<div class="card-body">
					<div class="card-body">
					<form [formGroup]="boardForm" (ngSubmit)="onSubmit(boardForm.value)">
						<div class="form-group">
							<label for="boardName">Name</label>
							<input type="text" class="form-control" name="boardName" [formControl]="boardForm.controls.name" placeholder="Room 1 light">
						</div>
						<div class="form-group">
							<label for="boardName">Description</label>
							<input type="text" class="form-control" name="boardDescription" [formControl]="boardForm.controls.description" placeholder="Room 1 light">
						</div>
						<div class="form-group">
							<label for="boardPlugin">Plugin</label>
							<select class="form-control" name="boardPlugin" [formControl]="boardForm.controls.plugin">
								<option *ngFor="let plugin of plugins" [value]="plugin._id">{{plugin.name}}</option>
							</select>
						</div>

						<div class="float-right">
							<button type="submit" [disabled]="compare()" class="btn btn-primary">Save</button>
					    </div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>