<div class="animated fadeIn">
	<div class="row">
		<div class="col">
			<div class="card card-accent-info">
				<div class="card-header">
					{{userForm.value.name}}
					<button class="btn btn-link text-danger float-right p-0" data-toggle="modal" (click)="removeModal.show()"><i class="fa fa-user-times fa-lg"></i></button>
				</div>
				<div class="card-body">
					<form [formGroup]="userForm" (ngSubmit)="onSubmit(userForm.value)">
						<div class="form-group">
							<label for="username">Username</label>
							<input type="text" class="form-control" name="username" [formControl]="userForm.controls.username" placeholder="Juan">
						</div>
						<div class="form-group">
							<label for="username">Password</label>
							<input type="password" class="form-control" name="password" [formControl]="userForm.controls.password" placeholder="********">
						</div>

						<div class="float-right">
							<button type="button" (click)="onReset()" [disabled]="compare()" class="btn btn-warning mr-1">Cancel</button>
							<button type="submit" [disabled]="compare()" class="btn btn-primary">Save</button>
					    </div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>

<div bsModal #removeModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="removeModal" aria-hidden="true">
  <div class="modal-dialog modal-danger modal-sm" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Removing user</h4>
        <button type="button" class="close" (click)="removeModal.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Are you sure you want to remove this user?</p>
        <p>This action cannot be undone.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="removeModal.hide()">Cancel</button>
        <button type="button" class="btn btn-danger" (click)="removeUser(); removeModal.hide();">Remove</button>
      </div>
    </div>
  </div>
</div>