<div class="animated fadeIn">
	<div class="row">
		<div class="col">
			<div class="card card-accent-info">
				<div class="card-header">
					{{boardForm.value.name}}
					<button class="btn btn-link text-danger float-right p-0 ml-3" data-toggle="modal" (click)="removeModal.show()"><i class="fa fa-trash-o fa-lg"></i></button>
					<label class="switch switch-label switch-primary float-right mb-0">
						<input type="checkbox" class="switch-input" [checked]="board != undefined ? board.active : false" (change)=" board.active = ! board.active; updateBoard()">
						<span class="switch-slider" data-checked="On" data-unchecked="Off"></span>
					</label>
				</div>
				<div class="card-body">
					<form [formGroup]="boardForm" (ngSubmit)="onSubmit(boardForm.value)">
						<div class="form-group">
							<label for="boardName">Name</label>
							<input type="text" class="form-control" name="boardName" [formControl]="boardForm.controls.name" placeholder="Room 1 light">
						</div>
						<div class="form-group">
							<label for="boardName">Description</label>
							<input type="text" class="form-control" name="boardDescription" [formControl]="boardForm.controls.description" placeholder="Room 1 light">
						</div>
						<div class="form-group">
							<label for="boardPlugin">Plugin</label>
							<select class="form-control" name="boardPlugin" [formControl]="boardForm.controls.plugin">
								<option *ngFor="let plugin of plugins" [value]="plugin._id">{{plugin.name}}</option>
							</select>
						</div>

						<div class="float-right">
							<button type="button" (click)="onReset()" [disabled]="compare()" class="btn btn-warning mr-1">Cancel</button>
							<button type="submit" [disabled]="compare()" class="btn btn-primary">Save</button>
					    </div>
					</form>
				</div>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col">
			<div class="card card-accent-success">
				<div class="card-header">Actions</div>
				<div class="card-body">
					<button class="btn btn-secondary" *ngFor="let extension of getBoardPlugin()" (click)="callCommand(extension)">{{ extension.path | uppercase}}</button>
				</div>
			</div>
		</div>
	</div>
</div>

<div bsModal #removeModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="removeModal" aria-hidden="true">
  <div class="modal-dialog modal-danger modal-sm" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Removing board</h4>
        <button type="button" class="close" (click)="removeModal.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Are you sure you want to remove this board?</p>
        <p>This action cannot be undone.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="removeModal.hide()">Cancel</button>
        <button type="button" class="btn btn-danger" (click)="removeBoard(); removeModal.hide();">Remove</button>
      </div>
    </div>
  </div>
</div>

<ng-template #commandError>
      <div class="modal-header">
        <h4 class="modal-title">Error</h4>
        <button type="button" class="close" (click)="modalRef.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>There was an error launching the command.</p>
        <p>Make sure the board is updated and connected.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="modalRef.hide()">Accept</button>
      </div>
</ng-template>

<ng-template #commandSuccess class="modal fade">
      <div class="modal-header">
        <h4 class="modal-title">Success</h4>
        <button type="button" class="close" (click)="modalRef.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>The command was launch successfully.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="modalRef.hide()">Accept</button>
      </div>
</ng-template>