<div class="animated fadeIn">
  <div style="margin-top: -18px" class="mb-2">
	<a class="btn btn-outline-primary" role="button" routerLink="/boards/new">
		<i class="fa fa-plus-square-o fa-lg"></i>
		Add Board
	</a>
  </div>

  <div class="row">
  	<div class="col-6">
      <div class="card card-accent-info">
        <div class="card-header">Active boards</div>
        <div class="card-body p-0">
          <table class="table table-responsive-sm table-hover mb-0">
            <thead class="thead-light">
              <tr>
                <th>Name</th>
                <th>Description</th>
                <th>Plugin</th>
                <th>Uptime</th>
              </tr>
            </thead>
            <tbody>
              <ng-container *ngFor="let board of boards">
              	<tr *ngIf="board.connected && board.active" [routerLink]="['/boards', board._id]" class="cursor-pointer">
              		<td>{{board.name}}</td>
	                <td>{{board.description}}</td>
	                <td>{{board.plugin.name}}</td>
	                <td>{{now_ | amDifference: board.startTime :'seconds' | amDuration:'seconds'}}</td>
              	</tr>
              </ng-container>
            </tbody>
          </table>
        </div>
      </div>
    </div> <!-- /.active boards -->

    <div class="col-6">
      <div class="card card-accent-warning">
        <div class="card-header">Inactive boards</div>
        <div class="card-body p-0">
          <table class="table table-responsive-sm table-hover mb-0">
            <thead class="thead-light">
              <tr>
                <th>Name</th>
                <th>Description</th>
                <th>Plugin</th>
              </tr>
            </thead>
            <tbody>
              <ng-container *ngFor="let board of boards">
              	<tr *ngIf="board.connected && !board.active" [routerLink]="['/boards', board._id]" class="cursor-pointer">
              		<td>{{board.name}}</td>
	                <td>{{board.description}}</td>
	                <td>{{board.plugin.name}}</td>
              	</tr>
              </ng-container>
            </tbody>
          </table>
        </div>
      </div>

      <div class="card card-accent-danger">
        <div class="card-header">Disconnected boards</div>
        <div class="card-body p-0">
          <table class="table table-responsive-sm table-hover mb-0">
            <thead class="thead-light">
              <tr>
                <th>Name</th>
                <th>Description</th>
                <th>Plugin</th>
              </tr>
            </thead>
            <tbody>
              <ng-container *ngFor="let board of boards">
              	<tr *ngIf="!board.connected" [routerLink]="['/boards', board._id]" class="cursor-pointer">
              		<td>{{board.name}}</td>
	                <td>{{board.description}}</td>
	                <td>{{board.plugin.name}}</td>
              	</tr>
              </ng-container>
            </tbody>
          </table>
        </div>
      </div>
    </div> <!-- /.inactive and disconnected boards -->
  </div>
</div>