<div class="animated fadeIn">
	<div style="margin-top: -18px" class="mb-2">
		<a class="btn btn-outline-primary" role="button" routerLink="/users/new">
			<i class="fa fa-user-plus fa-lg"></i>
			Add User
		</a>
	</div>

  <div class="row">
  	<div class="col">
      <div class="card card-accent-info">
        <div class="card-body p-0">
          <table class="table table-responsive-sm table-hover mb-0">
            <thead class="thead-light">
              <tr>
                <th>Name</th>
                <th>Role</th>
              </tr>
            </thead>
            <tbody>
              <ng-container *ngFor="let user of users">
              	<tr [routerLink]="user._id" class="cursor-pointer">
              		<td>{{ user.username }}</td>
	                <td>Admin</td>
              	</tr>
              </ng-container>
            </tbody>
          </table>
        </div>
      </div>
    </div> <!-- /.active boards -->
  </div>
</div>