<div class="animated fadeIn">
	<div class="row">
		<div class="col">
			<div class="card card-accent-info">
				<div class="card-header">
					{{userForm.value.username || 'New User'}}
				</div>
				<div class="card-body">
					<form [formGroup]="userForm" (ngSubmit)="onSubmit(userForm.value)">
						<div class="form-group">
							<label for="username">Username</label>
							<input type="text" class="form-control" name="username" [formControl]="userForm.controls.username" placeholder="Juan">
						</div>
						<div class="form-group">
							<label for="username">Password</label>
							<input type="password" class="form-control" name="password" [formControl]="userForm.controls.password" placeholder="*******">
						</div>

						<div class="float-right">
							<button type="submit" [disabled]="compare()" class="btn btn-primary">Save</button>
					    </div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>