<div class="animated fadeIn">
  <div class="row">
  	<div class="col">
      <div class="card card-accent-success">

        <div class="card-body">
			<form>
				<div class="form-group">
					<label for="wifiSsid">WiFi SSID</label>
					<input type="text" class="form-control" id="wifiSsid" placeholder="ALFRED-NET">
				</div>
				<div class="form-group">
						<label for="wifiPass">WiFi Password</label>
					<div class="input-group">
					<input [type]="_pwdType" class="form-control" id="wifiPass" placeholder="********">
					<div class="input-group-append">
				      <button type="button" class="btn btn-outline-primary" [ngClass]="{'active' : _show}" (click)="toggleShowPwd()"><i class="far fa-bed"></i></button>
				    </div>
					</div>
				</div>
				<div class="form-group form-check">
					<input type="checkbox" class="form-check-input" id="exampleCheck1">
					<label class="form-check-label" for="exampleCheck1">Check me out</label>
				</div>
				<button type="submit" class="btn btn-primary">Submit</button>
			</form>
        </div>
      </div>
    </div> <!-- /.settings card -->
  </div>
</div>