<div class="animated fadeIn">
  <div class="row">
    <div class="col">
      <div class="card card-accent-info">
        <div class="card-header">Active boards</div>
        <div class="card-body p-0">
          <table class="table table-responsive-sm table-hover mb-0">
            <thead class="thead-light">
              <tr>
                <th>Name</th>
                <th>Description</th>
                <th>Plugin</th>
                <th>Uptime</th>
              </tr>
            </thead>
            <tbody>
              <ng-container *ngFor="let board of boards">
                <tr *ngIf="board.connected && board.active" [routerLink]="['/boards', board._id]" class="cursor-pointer">
                  <td>{{board.name}}</td>
                  <td>{{board.description}}</td>
                  <td>{{board.plugin.name}}</td>
                  <td>{{now_ | amDifference: board.startTime :'seconds' | amDuration:'seconds'}}</td>
                </tr>
              </ng-container>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div><!--/.row-->

  <div class="row">
    <div class="col">
      <div class="card card-accent-info">
        <div class="card-header">Log console</div>
        <div class="card-body p-0">
          <app-log-terminal></app-log-terminal>
        </div>
      </div>
    </div>
  </div>
</div>
