.log {
	background-color: #222;
	margin-left: auto;
    color: #ccc;
    padding: 10px;
    box-sizing: border-box;
    font: menu;
    font-size: 1em;
    position: relative;
}

.logger {
	height: 10em;
  	overflow: auto;
}